.biggestLoser {
	font-family: 'Anton', sans-serif;
	color: #5BC0DE;
}

#graphInfo {
	margin-top: 10px;
}

svg {
    font-family: Sans-Serif, Arial;
}
.line {
  stroke-width: 2;
  fill: none;
}

.axis path {
  stroke: black;
}

.text {
  font-size: 12px;
}

.title-text {
  font-size: 12px;
}

div.tooltip {
	position: absolute;
	text-align: center;
	width: 120px;
	height: 60px;
	padding: 5px;
	font: 12px sans-serif;
	background: #ddd;
	border: solid 1px #aaa;
	border-radius: 8px;
	pointer-events: none;
}
